@media (min-width: 1301px) {
  .container {
    width: 1300px;
  }
}
@media (min-width: 1008px) and (max-width: 1300px) {
  .container {
    width: 1008px;
  }
  :root {
    --marquee-width: 1008px;
    --marquee-height: 200px;
  }
  .form {
    width: 65%;
    margin-top: 4%;
  }
  li,
  p {
    font-size: 12px !important;
  }
  .contact-us .contact,
  .contact-us .form {
    height: auto;
  }
  .team-members .staff-img .position-overlay {
    width: 242px;
    height: 190px;
    font-size: 20px;
  }
  .slide-arrow {
    font-size: 41px;
  }
}
@media (min-width: 641px) and (max-width: 1007px) {
  .container {
    width: 641px;
  }
  :root {
    --marquee-width: 641px;
    --marquee-height: 150px;
  }
  h1,
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 15px !important;
  }
  h4 {
    font-size: 12px !important;
  }
  li,
  p,
  .sub-text {
    font-size: 10px !important;
  }
  .banner {
    height: 300px;
  }
  .services-home {
    height: auto;
  }
  .form {
    width: 60%;
    height: 300px;
    margin-top: 6%;
  }
  .main-services,
  .showcase {
    width: 100%;
  }
  #home-form input[type="text"],
  #home-form input[type="email"],
  #home-form textarea {
    font-size: 10px;
  }
  #home-form {
    padding: 5% 2%;
    padding-left: 20px;
    margin: 16px 0;
  }
  #popUp > .form > .quoteForm > .closePopUp {
    font-size: 10px;
    width: 10px;
  }
  .primary {
    font-size: 10px;
    /* padding: ; */
  }
  .learn-btn {
    font-size: 10px;
  }
  .social-icons img {
    width: 40px;
    height: 40px;
  }
  .whatsapp {
    width: 20px !important;
    height: 20px !important;
    padding: 34% !important;
  }
  .instagram {
    margin-left: 20px !important;
  }
  .mission .count span {
    width: 8px;
    font-size: 10px;
    padding: 2px;
    padding-bottom: 14px;
    height: 3px;
    padding-left: 6px;
  }
  .goals .count span,
  .mission .count span,
  .whyus .count span {
    width: 8px;
    font-size: 10px;
    padding: 2px;
    padding-bottom: 14px;
    height: 3px;
    padding-left: 6px;
  }
  .contact-us > .form > form {
    height: auto !important;
  }
  .instagram {
    margin-left: 5px !important;
  }
  .span-background {
    font-size: 10px;
  }
  .contact-us .contact {
    width: 30%;
  }
  .contact-us .form {
    width: 70%;
  }
  .contact-us .form input,
  .contact-us .form textarea {
    font-size: 10px;
  }
  .primary-btn {
    font-size: 10px;
  }
  .team-members .staff-img .position-overlay {
    width: 154px;
    height: 133px;
    padding-top: 9%;
    font-size: 20px;
  }
  .slides-container{
    height: 323px;
  }
  .slide-arrow {
    font-size: 22px;
  }
}
@media (min-width: 360px) and (max-width: 640px) {
  :root {
    --marquee-width: 360px;
    --marquee-height: 70px;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
  .loader > .loader-image {
    padding-bottom: 0;
  }
  .loader > .loader-section > .loader-color,
  .loader > .loader-section {
    height: 2px;
  }
  .container {
    width: 360px;
  }
  h1,
  h2 {
    font-size: 10px !important;
    margin-top: 0;
    margin-bottom: 0 !important;
  }
  h3 {
    font-size: 8px !important;
  }
  h4 {
    font-size: 5px !important;
  }
  li,
  p,
  .sub-text {
    font-size: 5px !important;
  }
  .banner {
    height: 300px;
  }
  .form > form {
    width: 100%;
    height: 200px;
    margin-top: 2%;
  }
  .main-services,
  .showcase {
    width: 100%;
  }
  .services-home {
    height: auto !important;
  }
  #home-form input[type="text"],
  #home-form input[type="email"] {
    font-size: 6px;
    margin-bottom: -12px !important;
  }
  #home-form textarea {
    font-size: 6px;
    margin-top: 7px !important;
    margin-bottom: -5px;
  }
  #home-form {
    padding: 0% 2%;
    padding-left: 10px;
    margin: 10px 0;
  }
  #popUp > .form > .quoteForm > .closePopUp {
    font-size: 7px;
    width: 6px;
    padding: 6px;
    margin-top: -10px;
  }
  .primary {
    font-size: 6px !important;
  }
  .primary-btn {
    font-size: 6px !important;
  }
  .learn-btn {
    font-size: 6px !important;
  }
  .social-icons img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .whatsapp {
    width: 8px !important;
    height: 8px !important;
    padding: 44% !important;
  }
  .instagram {
    margin-left: 0 !important;
  }
  .linkedin {
    margin-left: 12px !important;
  }
  .mission .count span {
    width: 8px;
    font-size: 10px;
    padding: 2px;
    padding-bottom: 14px;
    height: 3px;
    padding-left: 6px;
  }
  .goals,
  .mission,
  .whyus {
    margin-top: 5px;
  }
  .goals .count span,
  .mission .count span,
  .whyus .count span {
    width: 5px;
    height: auto;
    font-size: 6px;
    padding: 0px;
    padding-left: 3px;
    border-width: 1px;
  }
  .contact-us > .form > form {
    height: auto !important;
  }
  header #nav {
    padding: 0;
  }
  .span-background {
    font-size: 3px;
    padding: 1% 9%;
  }
  .home-banner span,
  .home-banner h1,
  .home-banner p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  .heading-tagline {
    font-size: 5px;
  }
  .banner {
    height: 150px;
  }
  .content-image {
    margin: auto;
  }
  .content-text {
    padding: 5% 2% 2% 55px;
  }
  header #nav ul li {
    margin-left: 7px;
  }
  .services-banner h1 {
    margin-top: 50px !important;
  }
  .services .content .sub-service .category .count {
    font-size: 5px;
  }
  .services .content .sub-service .category {
    width: 50%;
  }
  .mtop-100 {
    margin-top: 50px !important;
  }
  .about-img {
    margin-top: -50px;
  }
  .about-banner h1 {
    margin-top: 40px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .about-banner h1 {
    margin-top: 40px !important;
  }
  .contact-us > .form > div {
    flex-direction: column !important;
  }
  .contact-us > .form > form h1 {
    margin-bottom: 10px !important;
  }
  .contact-us > .form > form input,
  .contact-us > .form > form textarea {
    width: 99%;
    padding: 0.5%;
    border: none;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 0px;
    font-size: 5px;
  }
  .contact-us > .form > form textarea {
    border: 1px solid var(--grey);
  }
  .contact-us .contact {
    width: 30%;
  }
  .contact-us .form {
    width: 70%;
  }
  .team-members .staff-img .position-overlay {
    width: 86px;
    height: 72px;
    padding-top: 9%;
    font-size: 18px;
  }
  .inTouch-btn {
    font-size: 5px;
  }
  .blog:nth-child(4),
  .blog:nth-child(5),
  .blog:nth-child(6) {
    display: none;
  }
  .slides-container {
    height: 187px;
  }
  .slide-arrow {
    font-size: 13px;
    padding: 0 11%;
  }
  .sliderHeading h2 {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
  }
}
